/*
 * Copyright 2019 PCS
 *
 * Author: Linh Nguyen <nvl1109@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "imx8mm-pico-pi.dts"

/ {
	backlight_mipi {
		status = "okay";
	};
};

&mipi_dsi {
	status = "okay";

	panel@0 {
		compatible = "sharp,ls050t1sx18";
		reg = <0>;
		pinctrl-0 = <&pinctrl_mipi_dsi_rst>;
		reset-gpio = <&gpio3 9 GPIO_ACTIVE_LOW>;
		/*tpreset-gpio = <&gpio4 28 GPIO_ACTIVE_LOW>;*/
		dsi-lanes = <4>;
		panel-width-mm = <62>;
		panel-height-mm = <110>;
		timing-mode = <0>;
		video-mode = <2>;
		vrefresh = <60>;

		display-timings {
			timing {
				clock-frequency = <148500000>;
				hactive = <1080>;
				vactive = <1920>;
				hfront-porch = <70>;
				hsync-len = <24>;
				hback-porch = <100>;
				vfront-porch = <4>;
				vsync-len = <4>;
				vback-porch = <2>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&i2c3 {
	touchscreen@18 {
		compatible = "sharp,shtsc_i2c";
		status = "ok";
		reg = <0x18>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch_rst &pinctrl_touch_irq>;
		sharp,reset-gpio = <&gpio4 28 0>;
		sharp,irq-gpio = <&gpio1 7 0>;
		sharp,panel-coords = <0 0 1079 1919>; // depends on an LCD resolution (0 0 Xmax-1 Ymax-1)
		sharp,display-coords = <0 0 1079 1919>; // depends on an LCD resolution (0 0 Xmax-1 Ymax-1)
		sharp,i2c-pull-up;
		ts_touch_num_max = <10>;
		ts_pressure_max = <65535>;
		ts_flip_x = <0>;
		ts_flip_y = <0>;
		ts_swap_xy = <0>;
	};
};